#versioning
  = linkrevert('Revert to previous version', @profile.versions(true).last)
  %a.alert.button.verbtns Save
  -# needs to do an ajax PATCH to /profile with the html in div-editable
  = link_to 'Version history', versions_profile_path, class: "success button verbtns"

- if @profile != current_user.profile
  .secondary.button#profilelink
    = link_to "Viewing #{@profile.user.email}'s profile", user_path(@profile.user)

= @profile.html.html_safe
