#grid-background.uneditable

= render 'signupmodal'

#versioning.uneditable
  %a.button.verbtns#edit_button Edit
  %a.button.success.verbtns#add_button +
  = linkrevert('Revert to previous version', @profile.versions(true).last)
  %a.alert.button.verbtns#save Save
  -# needs to do an ajax PATCH to /profile with the html in div-editable
  = link_to 'Version history', versions_profile_path, class: "success button verbtns"

- if viewing_someone_elses_profile?
  .secondary.button#profilelink
    = link_to "Viewing #{@profile.user.name}'s profile", user_path(@profile.user)

#control_content.uneditable
  .panel#edit_panel
    .row
      .small-6.columns.content#panel-1
        %form
          %label HTML
          %textarea#edit_field_html{cols: '40'}
      .small-6.columns.content#panel-2
        %form
          %label CSS
          %textarea#edit_field_css{cols: '40'}
    .row
      .small-12.columns
        %h5
          %small enter to preview, shift+enter to insert newline
    %a#tag_helpers_button 
      %b +
    #tag_helpers_div
      %ul#tag_helpers(list-style='none')
        %li
          %a(href="#" data-text="<h1></h1>")="<h1>"
        %li
          %a(href="#" data-text="<a href='#'></a>")="<a>"
        %li
          %a(href="#" data-text="<img src='#'>")="<img>"
.profile_content.uneditable#uneditable
  = @profile.html.html_safe
